 .u-section-1 {
  background-image: none;
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 35px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 40px auto 0 0;
  padding: 18px 50px 20px 49px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/Photo.JPG");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 366px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 998px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 668px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 950px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1223px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  width: 746px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 770px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-3 {
  margin: 24px 30px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-2 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 24px 30px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-3 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 24px 30px 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-4 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 24px 30px 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-5 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 24px 30px 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-6 {
  filter: brightness(0.8);
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 24px 30px 0;
}

.u-section-3 .u-text-9 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 295px;
  margin: 41px auto 60px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 634px;
  }

  .u-section-3 .u-image-1 {
    height: 253px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-2 {
    height: 253px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-3 {
    height: 253px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-4 {
    height: 253px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-5 {
    height: 253px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-image-6 {
    height: 253px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1115px;
  }

  .u-section-3 .u-image-1 {
    height: 291px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-2 {
    height: 291px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-3 {
    height: 291px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-4 {
    height: 291px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-5 {
    height: 291px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-6 {
    height: 291px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 437px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-2 {
    height: 437px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-3 {
    height: 437px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-4 {
    height: 437px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-5 {
    height: 437px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-6 {
    height: 437px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 275px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-2 {
    height: 275px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-3 {
    height: 275px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-4 {
    height: 275px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-5 {
    height: 275px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-6 {
    height: 275px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 725px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 605px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 523px;
  height: 312px;
  margin: 0 -6px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  width: 301px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 605px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 36px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 36px auto 0 0;
  padding: 18px 50px 20px 49px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-4 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 202px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 703px;
}

.u-section-5 .u-shape-1 {
  height: 485px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -405px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 569px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  width: 459px;
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-5 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-5 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-5 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-5 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-5 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-5 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 569px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto;
}

.u-section-5 .u-form-1 {
  height: 375px;
  width: 450px;
  margin: 33px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 6px;
  width: 100%;
  background-image: none;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 603px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-5 .u-list-1 {
    width: 397px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-5 .u-form-1 {
    width: 397px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 234px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-5 .u-list-1 {
    width: 452px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-5 .u-form-1 {
    height: 408px;
    width: 474px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    width: 408px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -22px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -22px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    width: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-list-1 {
    width: 320px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 43px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }
}